# SPDX-License-Identifier: MIT
# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit diff/linguist for key types
*.js   linguist-language=JavaScript diff=javascript
*.tf   linguist-language=HCL
*.sh   text eol=lf
*.ps1  text eol=crlf
*.sql  linguist-language=SQL

# Binary
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary

# GitHub
CODEOWNERS text
CONTRIBUTING.md text
ARCHITECTURE.md text
